<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel='stylesheet' href="{%static 'djangoDemo/css/bootstrap.min.css' %}" media="screen" title="bootstrap" charset="utf-8">
  </head>
  </head>
  <body>
    <a href="{% url 'wishlist:index' %}" class='btn btn-default'>Home</a>
    <a href="{%url 'wishlist:logOut'%}" class="btn btn-default">Log Out</a>
    <div class='container'>
      <h2>{{ name.item_name }}</h2>
      <p>Users who added this product/item under their wish list: </p>
      {% for users in this_item %}
        <p> {{users.user_created.first_name}}</p>
        <p> {{users.user_other.first_name }}</p>
      {% endfor %}
    </div>
  </body>
</html>
